.form-registro{
    position: absolute;
    top: 100px;
    left:400px;
    width:1200px;
    height: 600px;
    background:   #fcfdff;
    padding: 30px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    box-shadow: 7px 13px 37px rgb(151, 145, 145);
}

.form-registro1{
    width:500px;/*
   border: 1px solid white;*/
   left:1000px;
   height: 332px;
}
.form-registro2{
    width:500px;/*
    border: 1px solid white;*/
    float: right;
    margin-top: -400px;
}

.form-registro1 h1 {
    font-size: 20px;
    margin-bottom: 20px;
}
.form-group{
    padding-bottom: 25px;
    height: 57px;
}
input{
    width: 68%;
    float:right;
    margin-top: -35px;
}
.form-group2{
    padding-bottom: 115px;
}
select{
    width: 68%;
    float:right;
    margin-top: -35px;
}
