.form-registro{
    position: absolute;
    top: 100px;
    left:400px;
    width:1400px;
    height: 1000px;
    background:  #fdfeff;
    padding: 30px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    box-shadow: 7px 13px 37px rgb(151, 145, 145);
}
.form-registro1{
    width:1100px;
   /*border: 1px solid white;*/
   left:1000px;
}
.form-registro2{
    width:500px;
    /*border: 1px solid white;*/
    text-align: left;
    float: right;
    margin-top: -20px;
}
.form-registro2 .btn{
    float: right;
    margin-top: -40px;
}

.form-registro1 h1 {
    font-size: 20px;
    margin-bottom: 20px;
}
input{
    width: 60%;
}
button{
    width: 43%;
    margin-top: -30px;
    
    float: right;
}
.form-registro2 .btn{
    width: 50%;
    float: right;
    margin-top: -90px;
    
}
.text-center{
    padding-bottom: 50px;
}
