.form-registro{
    position: absolute;
    top: 100px;
    left:400px;
    width:1400px;
    height: 600px;
    background:  #ffffff;
    padding: 30px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    box-shadow: 7px 13px 37px rgb(151, 145, 145);
}
body{
    background-color: rgb(230, 232, 235);
    font-family: Arial, Helvetica, sans-serif;
}

table{
    background-color: rgb(255, 255, 255);
    text-align: left;
    border-radius: 10px;
    /*box-sizing: 13px 13px 13px #000;*/
}

tr:nth-child(even){
    background-color: rgb(230, 232, 235);
}

tr:hover td{
    background-color: #4d4747;
    color: white;
}