.form-registro{
    position: absolute;
    top: 100px;
    left:400px;
    width:1200px;
    height: 600px;
    background:  #ffffff;
    padding: 30px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    box-shadow: 7px 13px 37px rgb(151, 145, 145);
}
.form-registro1{
    width:500px;
   /* border: 1px solid black; */
   left:1000px;
}
.form-registro2{
    width:500px;
    /* border: 1px solid black; */
    float: right;
    margin-top: -440px;
}

.form-registro1 h1 {
    font-size: 20px;
    margin-bottom: 20px;
}
button{
    height: 50px;
}
.form-group{
    padding-bottom: 30px;
    height: 62px;
}
input{
    width: 68%;
    float:right;
    margin-top: -35px;
}
