<div class="Sidebar" >
    <div align="center" >
        <img src="../../assets/Imagenes/logo.png" class="profile_image" alt="" style="width: 100px; height: 100px;">
        <h4 *ngIf="currentUser">ADMINISTRADOR</h4>
    </div>
    <div id="btn-restaurantes">
        <p>
            <a data-toggle="collapse"
            data-target="#collapseRestaurante" aria-expanded="false" aria-controls="collapseRestaurante" *ngIf="currentUser">
            <i class="fas fa-utensils"></i><span>Restaurantes</span></a>
        </p>
    </div>
   
    <div class="collapse Sub-Menu" id="collapseRestaurante">
        <hr style="background-color: rgb(250, 81, 81);">
        <button class="btnbarra" style="width: 100%; " type="bootton" data-toggle="collapse"
            data-target="#collapseRestaurante" aria-expanded="false" aria-controls="collapseRestaurante" [routerLink]='["/restaurantes"]'>
            <span class="fas fa-users"></span>Registrar Restaurante
        </button>
        <button class="btnbarra" style="width: 100%; " type="bootton" data-toggle="collapse"
            data-target="#collapseRestaurante" aria-expanded="false" aria-controls="collapseRestaurante" [routerLink]='["/restauranteconsulta"]'>
            <span class="fas fa-list-ol"></span>Consultar Restaurante
        </button>
        <hr>
    </div>
    <p>
        <a data-toggle="collapse"
        data-target="#collapsePersonal" aria-expanded="false" aria-controls="collapsePersonal" *ngIf="currentUser">
        <i class="fas fa-user-tie"></i><span>Personal</span></a>
    </p>
    <div class="collapse Sub-Menu" id="collapsePersonal">
        <hr style="background-color: rgb(250, 81, 81);">
        <button class="btnbarra" style="width: 100%; " type="bootton" data-toggle="collapse"
            data-target="#collapsePersonal" aria-expanded="false" aria-controls="collapsePersonal" [routerLink]='["/personal"]' >
            <span class="fas fa-users"></span>Registrar Personal
        </button>
        <button class="btnbarra" style="width: 100%; " type="bootton" data-toggle="collapse"
            data-target="#collapsePersonal" aria-expanded="false" aria-controls="collapsePersonal" [routerLink]='["/personaConsulta"]'>
            <span class="fas fa-list-ol"></span>Consultar Personal
        </button>
        <hr>
    </div>
    
    <p>
        <a data-toggle="collapse"
        data-target="#collapseEncuesta" aria-expanded="false" aria-controls="collapseEncuesta" *ngIf="currentUser">
        <i class="far fa-address-book"></i><span>Encuestas</span></a>
    </p>
    <div class="collapse Sub-Menu" id="collapseEncuesta">
        <hr style="background-color: rgb(250, 81, 81);">
        <button class="btnbarra" style="width: 100%; " type="bootton" data-toggle="collapse"
            data-target="#collapseEncuesta" aria-expanded="false" aria-controls="collapseEncuesta" [routerLink]='["/conocimientos"]'>
            <span class="fas fa-school"></span>Conocimientos
        </button>
        <button class="btnbarra" style="width: 100%; " type="bootton" data-toggle="collapse"
            data-target="#collapseEncuesta" aria-expanded="false" aria-controls="collapseEncuesta" [routerLink]='["/actitudes"]'>
            <span  class="fas fa-smile-wink"></span>Actitudes
        </button>
        <button class="btnbarra" style="width: 100%; " type="bootton" data-toggle="collapse"
            data-target="#collapseEncuesta" aria-expanded="false" aria-controls="collapseEncuesta" [routerLink]='["/practicas"]'>
            <span class="fas fa-hotdog"></span>Practicas
        </button>
        <hr>
    </div>
    
    <p>
        <a data-toggle="collapse"
        data-target="#collapseExamenes" aria-expanded="false" aria-controls="collapseExamenes" *ngIf="currentUser">
        <i class="fas fa-briefcase-medical"></i><span>Examenes</span></a>
    </p>
    <div class="collapse Sub-Menu" id="collapseExamenes">
        <hr style="background-color: rgb(250, 81, 81);">
        <button class="btnbarra" style="width: 100%; " type="bootton" data-toggle="collapse"
            data-target="#collapseExamenes" aria-expanded="false" aria-controls="collapseExamenes" [routerLink]='["/examenes"]'>
            <span class="fas fa-users"></span>Registrar Examenes
        </button>
        <button class="btnbarra" style="width: 100%; " type="bootton" data-toggle="collapse"
            data-target="#collapseExamenes" aria-expanded="false" aria-controls="collapseExamenes" >
            <span class="fas fa-list-ol"></span>Consultar Examenes
        </button>
        <hr>
    </div>

   

    <a [routerLink]='["/listachequeo"]' *ngIf="currentUser"><i class="fas fa-tasks"></i><span>Lista de Chequeo</span></a>
    
    <p>
        <a data-toggle="collapse"
        data-target="#collapseReportes" aria-expanded="false" aria-controls="collapseReportes" *ngIf="currentUser">
        <i class="far fa-bookmark"></i><span>Reportes</span></a>
    </p>
    <div class="collapse Sub-Menu" id="collapseReportes">
        <hr style="background-color: rgb(250, 81, 81);">
        <button class="btnbarra" style="width: 100%; " type="bootton" data-toggle="collapse"
            data-target="#collapseReportes" aria-expanded="false" aria-controls="collapseReportes" [routerLink]='["/reportes"]'>
            <span class="fas fa-book-open"></span>Reportes
        </button>
        <button class="btnbarra" style="width: 100%; " type="bootton" data-toggle="collapse"
            data-target="#collapseReportes" aria-expanded="false" aria-controls="collapseReportes" [routerLink]='["/reporteencuesta"]' >
            <span class="fas fa-book-open"></span>Encuesta
        </button>
        <button class="btnbarra" style="width: 100%; " type="bootton" data-toggle="collapse"
            data-target="#collapseReportes" aria-expanded="false" aria-controls="collapseReportes" [routerLink]='["/reportelistachequeo"]'>
            <span class="fas fa-book-open"></span>listachequeo
        </button>
        <hr>
    </div>

    <a [routerLinkActive]="['link-active']" *ngIf="currentUser" (click)="logout()"><i class="fa fa-sign-out"></i>
        <span>Logout</span></a>
    

    <a [routerLinkActive]="['link-active']" *ngIf="!currentUser" [routerLink]="['/login']"><i class="fa fa-sign-in"></i>
        <span>Login</span></a>

</div>

<router-outlet></router-outlet>